<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>    
  $("#menu-toggle").click(function(){
  $(".nav-panel").toggleClass("active");
  });
</script>
<script>
  $('.words').each(function (index) {
    var characters = $(this).text().split("");
    
    $this = $(this);
    $this.empty();
    $.each(characters, function (i, el) {
    $this.append("<span class='char'>" + el + "</span");
    });

});

$('.words-fast').each(function (index) {
    var characters = $(this).text().split("");
    
    $this = $(this);
    $this.empty();
    $.each(characters, function (i, el) {
    $this.append("<span class='char'>" + el + "</span");
    });

});
</script>
<script>
anime.timeline({loop: false})
.add({
  targets: '.words .char',
  translateY: [100,0],
  translateZ: 0,
  opacity: [0,1],
  easing: "easeOutExpo",
  duration: 2000,
  delay: (el, i) => 1000 + 30 * i
})
</script>

<script>
  anime.timeline({loop: false})
  .add({
    targets: '.words-fast .char',
    translateY: [100,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 3000,
    delay: (el, i) => 1000 + 30 * i
  })
  </script>