<header class="casestudy-jumbotron bg-primary" style="background-image: url('{{ page.loop_image }}');">
    
</header>
<div class="container-fluid pb-8">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mr-auto d-none d-md-flex">
                <div class="casestudy-title-card border-md shadow py-4 px-4 bg-white" style="width: 100%">
                    <h6 class="text-secondary">
                        Casestudy
                    </h6>
                    <h1 class="mb-3">
                        {{ page.title }}
                    </h1>
                    <hr>
                    <p>
                        {{ page.description }}
                    </p>
                    <ul class="cat-list mt-10">
                        {% for category in page.categories %}
                        <li>
                            {{ category }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-6 ms-auto ml-auto pt-8">
                <div class="d-md-none mb-4">
                    <h6 class="text-secondary">
                        Casestudy
                    </h6>
                    <h1 class="mb-3">
                        {{ page.title }}
                    </h1>
                    <p>
                        {{ page.description }}
                    </p>
                    <ul class="cat-list mt-4">
                        {% for category in page.categories %}
                        <li>
                            {{ category }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <h6 class="text-secondary">
                    Problem
                </h6>
                <p>
                    {{ page.problem }}
                </p>
                <hr class="my-4">
                <h6 class="text-secondary">
                    Solution
                </h6>
                <p>
                    {{ page.solution }}
                </p>
            </div>
        </div>
    </div>
</div>