<div class="container-fluid bg-primary bg-grid-numbers">
    <div class="container vh-80 py-8 d-flex align-items-end">
        <div class="row">
            <div class="col-md-1 d-flex align-items-start">
                <p class="h6 text-third sidebar-text me-md-auto">
                    <em>
                        {{ site.title }}
                    </em>
                </p>
            </div>
            <div class="col-md-8">
                <h1 class="display-1 text-white">
                    {{ section.headline }}
                </h1>
                <h2 class="h4 text-white">
                    {{ section.subheadline }}
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="bg-primary position-relative mask-small">
    <div class="container-fluid section-mask has-mask mask-1 bg-light">
    </div>
</div>