{% assign sorted = site.work | sort: 'date' | reverse %}
{% for item in sorted | limit: 1 | offset: 1 %}
    <div class="container-fluid bg-primary py-8 first-project buffer" style="background-image: url('{{ item.loop_image }}');" data-aos="fade-up" data-aos-delay="3000" data-aos-duration="1500">
        <div class="container">
            <div class="col-md-5 bg-white py-6 px-6 border-md">
                <a href="{{ item.url }}">
                    <h2>
                        {{ item.title }}
                    </h2>
                </a>
                <p>
                    {{ item.description }}
                </p>
                <p class="mt-4 mb-0">
                    <a href="{{ item.url }}" class="button">
                        See the project
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endfor %}
<div class="container-fluid bg-primary buffer py-8">
    <div class="container mb-5">
        <div class="row">
            <div class="col-12">
                <h2 class="display-4">
                    Recent projects
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for item in sorted | limit: 3 | offset: 2 %}
            <div class="col-md-4">
               <div class="project-card">
                    <a href="{{ item.url }}">
                        <figure class="card--image border-md">
                            <img src="{{ item.loop_image }}" alt="{{ item.title }}">
                        </figure>
                    </a>
                    <div class="card--content py-6">
                        <h3>
                            {{ item.title }}
                        </h3>
                        <p class="text-muted">
                            {{ item.description }}
                        </p>
                        <p class="mb-0 mt-4">
                            <a href="{{ item.url }}" class="button">
                                See the project
                            </a>
                        </p>
                    </div>
               </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>