<header class="{{ section.block }}">
    <video autoplay muted loop id="myVideo">
        <source src="{{ section.video }}" type="video/mp4">
    </video>
    <div class="container-fluid d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="display-1 text-white text-transparent words">
                        {{ site.title_acronym }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-12 mx-auto">
                    <h2 class="text-white words-fast">
                        {{ site.brief_desc }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
</header>