.first-project {
    min-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    .container {
        position: -webkit-sticky;
        position: sticky;
        top: $spacer-1;
    }

    .col-md-5 {
        position: -webkit-sticky;
        position: sticky;
        top: $spacer-1;
    }
}

.project-card {
    .card--image {
        height: 450px;
        overflow: hidden;
        object-fit: cover;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            transition: all .7s ease-in-out;
        }

        &:hover {
            img {
                transform: scale(115%);
            }
        }

    }
}