.first-project {
    min-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    .container {
        position: -webkit-sticky;
        position: sticky;
        top: $spacer-1;
    }

    .col-md-5 {
        position: -webkit-sticky;
        position: sticky;
        top: $spacer-1;
    }
}

.project-card {
    min-height: 450px;
    padding: $spacer-1;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (max-width: $breakpoint-md) {
        margin-bottom: $spacer-1;
    }
}