.icon-link {
    height: 75px;
    width: 75px;
    border-radius: 50rem;
    border: 1px solid $secondary;
    background-color: rgba($secondary,.5);
    font-family: 'Material Symbols Outlined';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: rgba($secondary,1);
    }

    &.icon-link-white {
        border: 1px solid $white;
        background-color: rgba($white,.5);
        &:hover {
            background-color: rgba($white,1);
            color: $primary;
        }
    }

}