a {
    text-decoration: none;
    font-weight: 700;
    color: var(--btn-link-color);
}

.button {
    display: inline-block;
    padding: $spacer-1;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-link-color);
    color: var(--btn-link-text-color);
    text-decoration: none;
    font-family: $font-family-headline;
    border-radius: 50rem;
    font-weight: 400;
    margin-bottom: 0;
}