a.icon-link {
    position: relative;
    text-decoration: underline;

    &:after {
        content: 'arrow_forward';
        color: currentColor;
        position: absolute;
        top: 55%;
        right: -$spacer-2;
        transform: translateY(-50%);
        transition: all .3s ease-in-out;
        font-family: 'Material Symbols Outlined';
    }

    &:hover {
        &:after {
            right: -$spacer-1;
        }
    }

}