.home-hero {
    min-height: 70vh;
    display: flex;
    align-items: flex-end;
}

.casestudy-jumbotron {
    min-height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: -1;
}

.casestudy-title-card {
    margin-top: -$spacer-8;
    height: 100%;
}



ul.cat-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;

    li {
        padding: $spacer-1;
        background-color: $light;
        border-radius: 50rem;
        font-size: 12px;
        display: inline-flex;
        min-width: 125px;
        max-height: 40px;
        align-items: center;
        justify-content: center;

        &:not(:last-of-type) {
            margin-right: $spacer-1;
            margin-bottom: $spacer-1;
        }
    }
}