.bg-{
    &light, &white {
        --type-headline-color: #{$primary};
        --type-body-color: #{$gray};  
    }
    &primary {
        --type-headline-color: #{$white};
        --type-body-color: #{$white};
    }
    &secondary {
        --type-headline-color: #{$light};
        --type-body-color: #{$white};
    }
}