.bg-primary {
    --btn-link-color: #{$white};
    --btn-link-text-color: #{$primary};
    --type-headline-color: #{$white};
    --type-body-color: #{$white};
}

.bg-white {
    --btn-link-color: #{$primary};
    --btn-link-text-color: #{$white};
    --type-headline-color: #{$primary};
    --type-body-color: #{$gray};
}