.navbar-container--desktop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    padding: $spacer-2;

    .navbar {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-logo {
            text-align: center;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            color: $primary;
            font-weight: 400;
            border-radius: 50rem;
        }

        &-nav {
            background-color: $secondary;
            padding: $spacer-1;
            transform: rotate(180deg);

            &-list {
                display: flex;
                flex-direction: row;
                list-style: none;
                padding: 0;
                justify-content: center;
                align-items: center;
                margin: 0;
                writing-mode: vertical-rl;

                .nav-item {
                    margin: 0;

                    &:not(:last-of-type) {
                        margin-bottom: $spacer-1;
                    }

                    a {
                        color: $primary;
                        text-decoration: none;
                        font-family: $font-family-headline;
                        position: relative;
                        font-weight: 400;

                        &:before {
                            content: '';
                            width: 1px;
                            height: 00%;
                            background-color: $primary;
                            position: absolute;
                            left: -5px;
                            transition: all .2s ease-in-out;
                        }

                        &:hover {
                            opacity: .8;

                            &:before {
                                height: 100%;
                            }

                        }

                    }
                }

            }

        }

    }

}