@font-face {
    font-family: 'Sohne';
    src: url('/assets/fonts/Sohne-Fett.eot');
    src: url('/assets/fonts/Sohne-Fett.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Sohne-Fett.woff2') format('woff2'),
        url('/assets/fonts/Sohne-Fett.woff') format('woff'),
        url('/assets/fonts/Sohne-Fett.ttf') format('truetype'),
        url('/assets/fonts/Sohne-Fett.svg#Sohne-Fett') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('/assets/fonts/Sohne-Buch.eot');
    src: url('/assets/fonts/Sohne-Buch.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Sohne-Buch.woff2') format('woff2'),
        url('/assets/fonts/Sohne-Buch.woff') format('woff'),
        url('/assets/fonts/Sohne-Buch.ttf') format('truetype'),
        url('/assets/fonts/Sohne-Buch.svg#Sohne-Buch') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('/assets/fonts/Sohne-FettKursiv.eot');
    src: url('/assets/fonts/Sohne-FettKursiv.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Sohne-FettKursiv.woff2') format('woff2'),
        url('/assets/fonts/Sohne-FettKursiv.woff') format('woff'),
        url('/assets/fonts/Sohne-FettKursiv.ttf') format('truetype'),
        url('/assets/fonts/Sohne-FettKursiv.svg#Sohne-FettKursiv') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('/assets/fonts/Sohne-BuchKursiv.eot');
    src: url('/assets/fonts/Sohne-BuchKursiv.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Sohne-BuchKursiv.woff2') format('woff2'),
        url('/assets/fonts/Sohne-BuchKursiv.woff') format('woff'),
        url('/assets/fonts/Sohne-BuchKursiv.ttf') format('truetype'),
        url('/assets/fonts/Sohne-BuchKursiv.svg#Sohne-BuchKursiv') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne Mono';
    src: url('/assets/fonts/SohneMono-BuchKursiv.eot');
    src: url('/assets/fonts/SohneMono-BuchKursiv.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SohneMono-BuchKursiv.woff2') format('woff2'),
        url('/assets/fonts/SohneMono-BuchKursiv.woff') format('woff'),
        url('/assets/fonts/SohneMono-BuchKursiv.ttf') format('truetype'),
        url('/assets/fonts/SohneMono-BuchKursiv.svg#SohneMono-BuchKursiv') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne Mono';
    src: url('/assets/fonts/SohneMono-FettKursiv.eot');
    src: url('/assets/fonts/SohneMono-FettKursiv.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SohneMono-FettKursiv.woff2') format('woff2'),
        url('/assets/fonts/SohneMono-FettKursiv.woff') format('woff'),
        url('/assets/fonts/SohneMono-FettKursiv.ttf') format('truetype'),
        url('/assets/fonts/SohneMono-FettKursiv.svg#SohneMono-FettKursiv') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne Mono';
    src: url('/assets/fonts/SohneMono-Fett.eot');
    src: url('/assets/fonts/SohneMono-Fett.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SohneMono-Fett.woff2') format('woff2'),
        url('/assets/fonts/SohneMono-Fett.woff') format('woff'),
        url('/assets/fonts/SohneMono-Fett.ttf') format('truetype'),
        url('/assets/fonts/SohneMono-Fett.svg#SohneMono-Fett') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne Mono';
    src: url('/assets/fonts/SohneMono-Buch.eot');
    src: url('/assets/fonts/SohneMono-Buch.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SohneMono-Buch.woff2') format('woff2'),
        url('/assets/fonts/SohneMono-Buch.woff') format('woff'),
        url('/assets/fonts/SohneMono-Buch.ttf') format('truetype'),
        url('/assets/fonts/SohneMono-Buch.svg#SohneMono-Buch') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

