<footer class="bg-primary text-white">
    <div class="container-fluid">
        <div class="container py-8">
            <div class="row">
                <div class="col-md-3">
                    <ul class="p-0 list-unstyled">
                    {% for nav-item in site.data.navigation %}
                        <li class="lead">
                            <a href="{{ nav-item.url }}" class="text-white">
                                {{ nav-item.title }}
                            </a>
                        </li>
                    {% endfor %}
                        <li class="lead">
                            <a href="/boh/" class="text-white">
                                Back of House
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-auto ms-lg-auto me-lg-4">
                    <ul class="p-0 list-unstyled">
                        <li class="mb-2">
                            <h6>
                                Follow me
                            </h6>
                        </li>
                        <li>
                            <a href="{{ site.dribbble }}" target="_blank"  class="text-white">
                                Dribbble
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.linkedin }}" target="_blank"  class="text-white">
                                LinkedIn
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.github }}" target="_blank" class="text-white">
                                Github
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.instagram }}" target="_blank" class="text-white">
                                Instagram
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-auto">
                    <ul class="p-0 list-unstyled">
                        <li class="mb-2">
                            <h6>
                                {{ site.title }}
                            </h6>
                        </li>
                        <li>
                            Marseilles, Illinois
                        </li>
                        <li>
                            <a href="mailto:{{ site.email }}" class="text-white">
                                {{ site.email }}
                            </a>
                        </li>
                        <li class="mt-3">
                            <p class="small">
                                &copy; {{ site.author }}
                            </p>
                        </li>
                    </ul>    
                </div>
                
            </div>
        </div>
    </div>
</footer>