.boh-recipe {
    h1 {
        font-size: $spacer-2;
        font-family: $font-family-monospace;
        margin-bottom: 0;
        color: $primary;
        font-weight: 700;
    }

    .has-line {
        padding-top: $spacer-1;
        padding-bottom: $spacer-1;
        border-bottom: 1px solid $border-color;
    }

    ul.analog-list {
        list-style: none;
        padding: 0;

        li {
            padding-left: $spacer-4;
            @extend .has-line;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 27px;
                display: block;
                height: 15px;
                width: 15px;
                border-radius: 100%;
                border: 1px solid $border-color;
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 27px;
                height: 15px;
                width: 1px;
                background-color: $border-color;
                transform: translateX(14px * .5);
            }

        }

    }
}

.boh-article-content {
    h1, h2, h3, h4, h5, h6, ul, p {
        @extend .col-md-6;
        @extend .mx-auto;
    }

    img {
        @extend .img-fluid;
        display: block;
        margin-top: $spacer-2;
        margin-bottom: $spacer-2;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 900px;
        border-radius: $spacer-1;
        overflow: hidden;
    }
}