@media screen and (min-width: $breakpoint-md) {
    .home-work-loop {
        margin-top: -100px;
    }
}

.project-card {

    &-image {
        height: 450px;
        border-radius: $spacer-1;
        overflow: hidden;
        position: relative;
        transition: all .3s ease-in-out;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .0);

        .icon-link {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            background-color: $secondary;
            z-index: -1;
            transition: all .3s ease-in-out;
            will-change: transform;
            transform-style: preserve-3d;
            transform-origin: 50, 50;
        }

        &:hover {
            box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
            transition: all .3s ease-in-out;
            &:before {
                content: '';
                opacity: 1;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
            }
        }

    }

}